nav .navbar-brand
{
    /* size and font for brand */
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
}

nav .logo
{
    /* size for image in navigation bar */
    height: 40px;
}

main .welcome-img
{
    /* set opacity */
    opacity: 0.3;
}

main .log-run-forms
{
    /* set the width for a input boxes on run-log page*/
    width: 470px !important;
}

main .training-checkboxes
{
    /* set extra padding for checkboxes on run-log page*/
    padding-left: 30px;
}

main .run-slider
{
    /* set the margin before and after a distance slider*/
    margin-top: 15px;
    margin-bottom: 10px;

}

main .text-info
{
    /* font used for user info */
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    color: #626262 !important;
}

main .col-form-label
{
    /* font used to run data */
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #737373;
    padding-top:0px;
}

main .text-main-line
{
    /* set text box on the image */
    background-color: coral;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    padding-bottom: 8px;
    text-align: center;
    margin-bottom: 0;
}

main .except-main
{
    /* set font style and size on other pages except main */
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
}

main .under-main-line
{
    /* set the upper padding of content container, if located under the mainline */
    padding-top: 18px !important;
    padding-bottom: 0px !important;
}

main .duration_input
{
    /* set the width of duration boxes */
    width: 70px !important;
}

main .welcome-container
{
    /* set the relative position of welcome boxes */
    position: relative;
}

main .weather-image
{
    /* set the flexible height of the call with image */
    height: auto;
}

main .welcome-text
{
    /* set the coordinate and the font of welcome text */
    position: absolute;
    top: 20px;
    right: 20px;
    width: 350px;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding: 30px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;
}

main .center
{
    /* center contents */
    text-align: center;
}

footer
{
    /* center footer */
    display: grid !important;
    justify-content: center !important;
    text-align: center;
    background: rgba(255,255,255,0.5);
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

div .balance-text {
  font-size: 30px;
}

div .limited-width {
    max-width: 50%;
    align-content: center;
}

main .btn-primary {
    color: white;
    background-color: #ff7f50 !important;
    border-color: #ff7f50 !important;
}

main .btn-primary:hover {
    color: white;
    background-color: #ff661a !important;
    border-color: #ff661a !important;
}

main .btn-primary:disabled {
    color: white;
    background-color: #ffbb99 !important;
    border-color: #ffbb99 !important;
}






input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 470px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #ff661a;
  background: #ff7f50;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}


/*footer {*/
/*  position: relative;*/
/*  margin-top: -70px; !* negative value of footer height *!*/
/*  height: 50px;*/
/*  clear:both;*/
/*  !*padding-top:20px;*!*/
/*}*/

/*input[type=range]:focus::-webkit-slider-runnable-track {*/
/*  background: #367ebd;*/
/*}*/

/*input[type=range]::-moz-range-track {*/
/*  width: 100%;*/
/*  height: 8.4px;*/
/*  cursor: pointer;*/
/*  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
/*  background: #3071a9;*/
/*  border-radius: 1.3px;*/
/*  border: 0.2px solid #010101;*/
/*}*/

/*input[type=range]::-ms-track {*/
/*  width: 100%;*/
/*  height: 8.4px;*/
/*  cursor: pointer;*/
/*  background: transparent;*/
/*  border-color: transparent;*/
/*  border-width: 16px 0;*/
/*  color: transparent;*/
/*}*/
/*input[type=range]::-ms-fill-lower {*/
/*  background: #2a6495;*/
/*  border: 0.2px solid #010101;*/
/*  border-radius: 2.6px;*/
/*  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
/*}*/
/*input[type=range]:focus::-ms-fill-lower {*/
/*  background: #3071a9;*/
/*}*/
/*input[type=range]::-ms-fill-upper {*/
/*  background: #3071a9;*/
/*  border: 0.2px solid #010101;*/
/*  border-radius: 2.6px;*/
/*  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
/*}*/
/*input[type=range]:focus::-ms-fill-upper {*/
/*  background: #367ebd;*/
/*}*/