nav .navbar-brand
{
    /* size and font for brand */
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
}

nav .logo
{
    /* size for image in navigation bar */
    height: 40px;
}

main .welcome-img
{
    /* set opacity */
    opacity: 0.3;
}

main .welcome-slogan
{
    /* set text box on the image */
    background-color: coral;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    padding: 16px 32px;
    text-align: center;
    margin-bottom: 0;
}

main .welcome-container
{
    /* set the relative position of welcome boxes */
    position: relative;
}

main .welcome-text
{
    /* set the coordinate and the font of welcome text */
    position: absolute;
    top: 20px;
    right: 20px;
    width: 350px;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding: 30px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;
}

main .center
{
    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

div .balance-text {
  font-size: 30px;
}

div .limited-width {
    max-width: 50%;
    align-content: center;
}

main .btn-primary {
    color: white;
    background-color: #ff7f50 !important;
    border-color: #ff7f50 !important;
}

main .btn-primary:hover {
    color: white;
    background-color: #ff661a !important;
    border-color: #ff661a !important;
}

main .btn-primary:disabled {
    color: white;
    background-color: #ffbb99 !important;
    border-color: #ffbb99 !important;
}