{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

    <p class="text-main-line">Let every run count</p>
    <div class="welcome-container">
        <img src="/static/welcome-photo.jpg" class="welcome-img" alt="Welcome_img">
        <div class="welcome-text">Log your trainings,
            track location and weather conditions,
            create individual running programs,
            check out your progress,
            overcome your limits
        </div>
    </div>
{% endblock %}
