{% extends "layout.html" %}

{% block title %}
    User info
{% endblock %}

{% block main %}

    <p class="text-main-line except-main">{{ data["name"] }} profile</p>
    <div class="container p-5 under-main-line">
        <div class="row text-info">
            <div class="col-md-5">
                <img src="/static/{{ data["username"] }}.jpg" alt="photo" class="img-thumbnail">
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-5">Gender:</div>
                    <div class="col-md-7">{{ data["gender"] }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Age:</div>
                    <div class="col-md-7">{{ data["age"] }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Height:</div>
                    <div class="col-md-7">{{ data["height"] }} cm</div>
                 </div>
                <div class="row">
                    <div class="col-md-5">Weight:</div>
                    <div class="col-md-5">{{ data["weight"] }} kg</div>
                    <div class="col-md-2">
                        <a href="/" class="badge badge-secondary">Edit</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">Activity level:</div>
                    <div class="col-md-5">{{ data["activity_label"] }}</div>
                    <div class="col-md-2">
                        <a href="/" class="badge badge-secondary">Edit</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">BMR:</div>
                    <div class="col-md-7">{{ data["bmr"] }} kcal</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Adjusted BMR:</div>
                    <div class="col-md-7">{{ data["bmr_adj"] }} kcal</div>
                </div>
            </div>
        </div>
        <a href="/" class="badge badge-secondary">Change photo</a>
        <a href="/" class="badge badge-secondary">Change password</a>
    </div>

{% endblock %}
