<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
{#        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">#}

        <!-- New orange theme -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/united/bootstrap.min.css" rel="stylesheet">
        <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

        <!-- https://www.flaticon.com/authors/smashicons -->
        <link href="/static/running.png" rel="icon">

        <!-- Custom fonts -->
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans|Oswald|Permanent+Marker|Raleway&display=swap" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- moment js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.js"></script>
        <!-- Timezone module -->
        <script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <!-- Autocomplete -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <link href="/static/styles.css" rel="stylesheet">
{#        <link href="/static/bootstrap.css">#}

        <title>runPal: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/">run<span class="red">Pal</span>
                <img src="/static/running.png" class="logo" alt="Logo">
            </a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/log-run">Log run</a></li>
                        <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                        <li class="nav-item"><a class="nav-link" href="/program">Program</a></li>
{#                        <li class="nav-item"><a class="nav-link" href="/weather">Check weather</a></li>#}
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
                        <li class="nav-item"><a class="nav-link" href="/info">User area</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer class="small navbar fixed-bottom">
            <div>
                Data provided for free by <a class="text-dark font-italic" href="https://openweathermap.org/api/hourly-forecast">OpenWeatherMap</a>.
                View <a class="text-dark font-italic" href="https://openweather.co.uk/storage/app/media/Terms/Openweather_terms_and_conditions_of_sale.pdf">Terms and conditions</a>.
            </div>
            <div>
                Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons" class="text-dark font-italic">
                Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon" class="text-dark font-italic">www.flaticon.com</a>
                is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                                  target="_blank" class="text-dark font-italic">CC 3.0 BY</a>
            </div>
            <div>
                (c) Developed in 2019 by Svetlana Egorova. All rights reserved.
            </div>
        </footer>

    </body>

</html>
