{% extends "layout.html" %}

{% block title %}
    User programs
{% endblock %}
{% block main %}

    <p class="text-main-line except-main">The list of your programs</p>
    <div class="container p-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Created by</th>
                <th scope="col">Name</th>
                <th scope="col">Number of weeks</th>
                <th scope="col">Description / tags</th>
                <th scope="col">Goal</th>
                <th scope="col">Status</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in programs %}
                <tr>

                    <td> {{ item['id'] }} </td>
                    <td> {{ item['author'] }} </td>
                    <td> {{ item['name'] }} </td>
                    <td> {{ item['weeks'] }} </td>
                    <td> {{ item['description'] }} </td>
                    <td> {{ item['goal'] }} </td>
                    <td> {{ item['status'] }} </td>
                    <td> {{ item['date_start'] }} </td>
                    <td> {{ item['date_end'] }} </td>

                    <td><a href="#{{ item['id'] }}" class="badge badge-info">View</a><br>
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                onclick="saveId({{ item['id'] }})"
                                data-target="#statusModal">
                            Activate</button>
                        <a href="#{{ item['id'] }}" class="badge badge-warning">Edit</a><br>
                        <a href="#{{ item['id'] }}" class="badge badge-secondary">Unfollow</a><br>
                        <a href="#{{ item['id'] }}" class="badge badge-dark">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="/create-program" class="badge badge-primary">Create program</a>

        <!-- Modal -->
        <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="statusModalLabel">Start date</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/initiate-program" method="post" id="program_start_form">
                            <div class="form-group row">
                                <label for="date_input" class="col-3 col-form-label">Start date</label>
                                <div class="col-9">
                                    <input autocomplete="off" autofocus class="form-control"
                                           name="date"
                                           type="date" id="date_input">
                                    <input name="prog-id" id="prog-id" hidden>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" type="submit" onclick="form_submit()"
                        Activate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    function saveId(id) {
        console.log("receive id " + id);
        document.getElementById("prog-id").value = id;
    }

    function form_submit() {
        document.getElementById("program_start_form").submit();
   }

    </script>

{% endblock %}
