{% extends "layout.html" %}

{% block title %}
    Weather
{% endblock %}

{% block main %}
    <p class="text-main-line except-main">Check current weather conditions</p>
    <div class="container p-5">
        <form action="/weather" method="post">
            <div class="form-group">
                <input class="form-control autocomplete log-run-forms" autocomplete="off" name="location"
                       id="location_input" placeholder="city name">
                <input name="city_latitude" id="city_latitude" hidden>
                <input name="city_longitude" id="city_longitude" hidden>
            </div>
            <button class="btn btn-primary button-coral" id="button_check" type="submit">Check</button>
        </form>
    </div>

    <script>

        $('.autocomplete').autocomplete({
            minLength: 3,
            source: "/search-location"
        });

        function handleSelect(event, selectedItem) {
            document.getElementById("city_latitude").value = selectedItem["item"]["latitude"] //selectedItem.item.latitude
            document.getElementById("city_longitude").value = selectedItem["item"]["longitude"] //selectedItem.item.longitude
        }

        $(".autocomplete").on("autocompleteselect", handleSelect);

    </script>

{% endblock %}


